

#main .article {display: none;}

#news-area {
color: #ccc;
}

#news-area ul {
list-style-type: none;
margin:0;
padding:0;
}

#news-area li {
  border: 2px solid #343331;
  border-radius: 7px;
  margin-bottom: 1em;
  padding: 1em;
}

.article-opener {
display: block;
text-decoration: none;
color: #ccc;
line-height: 1.5em;
}


.label {
font-size: 16px;
display:block;
font-size: larger;
}

.date{
font-size: 11px;
display:block;
color: #ddd;
}


.article img {
  display: block;
  max-width: 50%;
	height: auto;
	margin: auto;
}

.article img[src*=laurel] { background: #fff; }

